<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.fpt.dms.hmi">
    <uses-feature android:name="android.hardware.type.automotive" android:required="false" />
    <uses-permission android:name="android.car.permission.CAR_SPEED" />
    <uses-permission android:name="android.car.permission.CAR_INFO" />
    <application
        android:theme="@style/AppTheme"
        android:label="DMS Safety HMI Realtime"
        android:resizeableActivity="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
